language (

padding: 20px; margin: 10px;

background-color: #121212 border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

language h2 {

color: #333; font-size: 24px; margin-bottom: 10px;

language p

color: #666; font-size: 16px;
}
